.logoutButton{
    background-color: var(--error-color);
    border-radius: 0; 
    box-sizing: border-box;
    padding:1em;
    margin-top: 0.5em;
    width: 100%;
    transition: 0.5s;    
}
.logoutButtonContainer{
    /* width:-moz-calc(100% + 4em);
    width: calc(100% + 4em); */
    width: calc(100% + 4em);
    margin-left:    -2em;
    box-sizing: border-box;
}

.logoutButton:hover{
    box-shadow: 0 0 0.5em var(--error-color);
    transform: scale(1, 1);
}

.lists-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 16vw;
    
    padding: 2em;

    display: flex;
    flex-shrink: 1; flex-grow: 1;
    flex:auto;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    background-color: var(--background-color-secondary);

    box-shadow: 0 0 2em var(--background-color-secondary);
}
.lists-sidebar>div{
    text-align: left;
}
.logoutButton{
    width: 100%;
}
.app-details{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1; flex-grow: 0;
}
.app-details>.logo>img{
    width: 40%;
}
.app-details>.logo{
    padding: 0;
}

.listsButtonsSidebar{
    margin-top: 2em;
    width: calc(100% + 4em);
    margin-left:    -2em;
}
.listButton{
    box-sizing: border-box;
    padding:1em;
    margin-top: 0.5em;
    border: 0.14em solid var(--background-color-tertiary);
    width: 100%;
    transition: 0.5s;    
}

.listButton:hover{
    cursor: pointer;
    box-shadow: 0 0 1em var(--background-color-tertiary);background-color: var(--background-color-tertiary);
    transform: scale(1, 1.05);
}

.listActive{
    background-color: var(--background-color-highlight);
    border: none;
}

.checked{
    color: var(--success-color);
}
.itemName{
    display: inline;
}

.itemNameCrossed{
    text-decoration: line-through;
}