.logoutButton{
    background-color: var(--error-color);
}

.createListButton{
    background-color: var(--success-color);
}
.sidebarButton>button{
    border-radius: 0; 
    box-sizing: border-box;
    padding:1em;
    margin-top: 0.5em;
    width: 100%;
    transition: 0.5s;    
}
.sidebarButton{
    width:calc(100% - 4em);
    margin-left:    2em;
    box-sizing: border-box;
}

.logoutButton:hover{
    box-shadow: 0 0 0.5em var(--error-color);
    transform: scale(1, 1);
}
.createListButton:hover{
    box-shadow: 0 0 0.5em var(--success-color);
    transform: scale(1, 1);
}

.lists-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    
    padding: 4em 0;
    box-sizing: border-box;

    display: flex;
    flex-shrink: 1; flex-grow: 1;
    flex:auto;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    background-color: var(--background-color-secondary);

    box-shadow: 0 0 2em var(--background-color-secondary);
}
.lists-sidebar>div{
    text-align: left;
}
.lists-sidebar>hr{
    margin: 2em 2em;
    width: calc(100% - 4em);
}
.logoutButton{
    width: 100%;
}
.app-details{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1; flex-grow: 0;
}
.app-details>.logo>img{
    width: 40%;
}
.app-details>.logo{
    /* padding: 0; */
    margin-left: 2em;
    left: 2em;
}
.listsButtonsSidebar{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.listsButtonsSidebar, .app-details
{
    width: calc(100% + 4em);
    margin-left:    -2em;
}
.app-details>div{  
    /* width: calc(100% + 4em);
    margin-left: -2em; */
    box-sizing: border-box;
}
.userDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;font-size: 1vw;
    margin-bottom: 1em;
    margin-left: 4em;
}
.userDetail>svg{
    margin-right: 0.5em;
}
.listButton{
    box-sizing: border-box;
    padding:1em;
    margin-top: 0.5em;
    border: 0.14em solid var(--background-color-tertiary);
    width: calc(100% - 4em);
    margin-left: 2em;
    transition: 0.5s;    

    display: flex;
    flex-direction: row;  
    align-items: center; /* Vertically centers the content */
    justify-content: center; 
}
.listButton:hover{
    cursor: pointer;
    box-shadow: 0 0 1em var(--background-color-highlight);
    background-color: var(--background-color-highlight);
    opacity: 1;
}
.listButton>p{
    flex-grow: 1;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.listButton>svg{
    flex-shrink: 1;
    vertical-align: middle;
    padding: 0.5em;
    z-index: 5;
}
.listButton>svg:hover{
    cursor: pointer;
}
.listActive{
    background-color: var(--background-color-tertiary);
    border: none;
}
.listInactive{
    opacity: 0.75;
}
.itemName{
    display: inline;
    border: none;    
    flex: 1;
    word-wrap: break-word; /* Break long words if necessary */
    white-space: normal; /* Ensure text wraps normally */
    overflow-wrap: break-word; /* Ensure long words break to wrap */

    font-family: var(--secondary-font);
    font-size: 1em;
    padding: 0;
    height: 1.2em;
    box-sizing: border-box;
    overflow:hidden;
    resize: none;
}
.itemName:hover, .itemName:focus{
    border:none;
    outline: none;
}

.itemNameCrossed{
    text-decoration: line-through;
}
.mainListView{
    width: calc(100vw - 20vw);
    left: 20vw;
    height: 80vh;
    top:20vh;
    position: fixed;
    box-sizing: border-box;
    text-align: left;
    padding: 0 10em;
}
.listItems{
    font-size: 1.2em;
    overflow-y: auto;
    height: 80%;
}
.listItem, .addListItem{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);  

    margin: 0.75em;    
    padding: 0.75em;
    border-radius: 0.5em; 
}
.listItem{
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.listItems>div:hover{
    transform:scale(1.02, 1.02);
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
}
.listItems>div>FontAwesomeIcon{
    margin-right: 1em;
}
.listItems>div>textarea{
    background: none;
    display: inline;
    width: auto;
}
.listItems>div>textarea:hover, .listItems>div>textarea:focus{
    box-shadow: none;
}
.itemCheckIcon{
    text-align: center;
    margin-right: 1em;
    transition: 0.5s;
    font-size: 1.2em;
    vertical-align: middle;
}
.itemCheckIcon:hover{
    cursor:pointer;
    font-size: 1.2em;
}
.listName{
    width: auto;
    font-size: 2em;
    position: fixed;
    top: 2em;
    left: calc(20vw);
    width: 80vw;
}
.listName>input{
    background: none;
    text-decoration: underline;
    font-style:italic;
    text-align: center;
}

.listName>input{
    box-shadow: none;
}
.saveProgress{
    position: fixed;
    right: 2em;
    top: 2em;
    padding: 1em;
    border-radius: 0.25em;
    transition: 0.5s;
}
.saveProgressContainer{
    opacity: 0;
}
.saveProgress>.saveIcon{
    margin-right: 1em;
}
.saveProgress.unsaved{
    background-color: var(--error-color);
}
.saveProgress.saved{
    background-color: var(--success-color);
}
.sidebarBreak{
    width: 100%;
    margin-top: 1em;
}
.editItemButton{
    color: var(--error-color);
}

.editItemButton:hover{
    cursor:pointer;
}
.addListItem{
    font-style: italic;
    text-align: center;
    transition: 0.5s;
}
.addListItem:hover{
    cursor: pointer;
}
.checked{
    color: var(--success-color);
}
.unchecked{
    color: var(--secondary-font);
}
.listOptions{
    position: absolute;
    background-color: var(--background-color-primary);
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em var(--background-color-primary);
}
.listOption{
    padding: 0.5em;
}
.listOption:hover{
    cursor: pointer;
}
.PopupContainer{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);  
}

.PopupModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color-primary);
    padding: 1em;
    width: 30%;
    border-radius: 0.5em;
    box-shadow: 0 0 1em var(--background-color-primary);
}
.PopupYesButton{
    background-color: var(--success-color);
}
.PopupNoButton{
    background-color: var(--error-color);
}
.PopupModal>button{
    margin: 1em;
}
.ShareKeySpan{
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: var(--background-color-secondary);
    padding: 0.75em;
    border-radius: 0.5em;
    font-style: italic;
}
.importCodeInput{
    box-sizing: border-box;
    margin: 1em 0;
    padding: 1em;
    text-align: center;
}