.logoutButton{
    background-color: var(--error-color);
}

.createListButton{
    background-color: var(--success-color);
}
.sidebarButton>button{
    border-radius: 0; 
    box-sizing: border-box;
    padding:1em;
    margin-top: 0.5em;
    width: 100%;
    transition: 0.5s;    
}

.sidebarButton{
    /* width:-moz-calc(100% + 4em);
    width: calc(100% + 4em); */
    width: calc(100% + 4em);
    margin-left:    -2em;
    box-sizing: border-box;
}

.logoutButton:hover{
    box-shadow: 0 0 0.5em var(--error-color);
    transform: scale(1, 1);
}
.createListButton:hover{
    box-shadow: 0 0 0.5em var(--success-color);
    transform: scale(1, 1);
}

.lists-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    
    padding: 4em;
    box-sizing: border-box;

    display: flex;
    flex-shrink: 1; flex-grow: 1;
    flex:auto;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    background-color: var(--background-color-secondary);

    box-shadow: 0 0 2em var(--background-color-secondary);
}
.lists-sidebar>div{
    text-align: left;
}
.logoutButton{
    width: 100%;
}
.app-details{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1; flex-grow: 0;
}
.app-details>.logo>img{
    width: 40%;
}
.app-details>.logo{
    padding: 0;
}

.listsButtonsSidebar, .app-details
{
    margin-top: 2em;
    width: calc(100% + 4em);
    margin-left:    -2em;
}
.app-details>div{  
    /* width: calc(100% + 4em);
    margin-left: -2em; */
    box-sizing: border-box;
}
.listButton{
    box-sizing: border-box;
    padding:1em;
    margin-top: 0.5em;
    border: 0.14em solid var(--background-color-tertiary);
    width: calc(100% + 4em);
    margin-left: -2em;
    transition: 0.5s;    
}

.listButton:hover{
    cursor: pointer;
    box-shadow: 0 0 1em var(--background-color-tertiary);
    background-color: var(--background-color-tertiary);
    transform: scale(1, 1.05);
}

.listActive{
    background-color: var(--background-color-highlight);
    border: none;
}

.checked{
    color: var(--success-color);
}
.itemName{
    display: inline;
    border: none;    
    flex: 1;
    word-wrap: break-word; /* Break long words if necessary */
    white-space: normal; /* Ensure text wraps normally */
    overflow-wrap: break-word; /* Ensure long words break to wrap */

    font-family: var(--secondary-font);
    font-size: 1em;
    padding: 0;
    height: 1.2em;
    box-sizing: border-box;
    overflow:hidden;
    resize: none;
}
.itemName:hover, .itemName:focus{
    border:none;
    outline: none;
}

.itemNameCrossed{
    text-decoration: line-through;
}
.mainListView{
    width: calc(100vw - 20vw);
    left: 20vw;
    height: 80vh;
    top:20vh;
    position: fixed;
    box-sizing: border-box;
    text-align: left;
    padding: 0 10em;
}
.listItems{
    font-size: 1.2em;
    padding-top: 2em;
}
.listItem, .addListItem{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);  

    margin: 0.75em;    
    padding: 0.75em;
    border-radius: 0.5em; 
}
.listItem{
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.listItems>div:hover{
    transform:scale(1.02, 1.02);
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
}
.listItems>div>FontAwesomeIcon{
    margin-right: 1em;
}
.listItems>div>textarea{
    background: none;
    display: inline;
    width: auto;
}
.listItems>div>textarea:hover, .listItems>div>textarea:focus{
    box-shadow: none;
}
.itemCheckIcon{
    text-align: center;
    margin-right: 1em;
    transition: 0.5s;
    font-size: 1.2em;
    vertical-align: middle;
}
.itemCheckIcon:hover{
    cursor:pointer;
    font-size: 1.2em;
}
.listName{
    width: auto;
    font-size: 2em;
    position: fixed;
    top: 3em;
    left: calc(50%);
}
.listName>input{

    background: none;
    text-decoration: underline;
    font-style:italic;
    text-align: center;
}

.listName>input{
    box-shadow: none;
}
.saveProgress{
    position: fixed;
    right: 2em;
    top: 2em;
    padding: 1em;
    border-radius: 0.25em;
    transition: 0.5s;
}
.saveProgressContainer{
    opacity: 0;
}
.saveProgress>.saveIcon{
    margin-right: 1em;
}
.saveProgress.unsaved{
    background-color: var(--error-color);
}
.saveProgress.saved{
    background-color: var(--success-color);
}
.sidebarBreak{
    width: 100%;
    margin-top: 1em;
}
.editItemButton{
    color: var(--error-color);
}

.editItemButton:hover{
    cursor:pointer;
}
.addListItem{
    font-style: italic;
    text-align: center;
    transition: 0.5s;
}
.addListItem:hover{
    cursor: pointer;
}