#root{
    width: 100%;
    margin: auto;  
}

.OnboardingContainer{
  width: 40%;
  margin: auto;  
}

label{
    color: var(--secondary-color);
    font-family: var(--secondary-text-color);
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 0.75em;
    letter-spacing: 0.15em;
}

form{
    width: 100%;
}

input{
    box-sizing: border-box;
    padding: 0.75em;
    border-width: 0;
    border-radius: 0.2em;
    background-color: var(--background-color-secondary);
    font-size: 1em;
    transition: 0.5s;
    font-family: var(--secondary-text-color);
    width: 100%;
}

input:focus{
    box-shadow: 0 0 2em rgba(0, 0, 0, 1);
    outline: none!important;
    transform:scale(1.05, 1.05);
}

body{
    width: 100vw;
    background: url('../assets/Stars-Background.png') repeat;
    background-size: contain;
    background-color: var(--background-color-primary)!important;
}

.error{
    color: var(--error-color);
    min-height: 1em;
    font-size: 1em;
}
.MartyWave{
    position: fixed;
    width: 20%;
    right: 0; bottom: 0;
}
.Rocket{
    position: fixed;
    left: 5%; top: 5%;
    width: 10%;
    transform: rotateZ(15deg);
}

@media only screen and (max-width:600px){
    .OnboardingContainer{
        width: 80%;
    }
    
    .MartyWave{
        position: fixed;
        width: 30%;
    }
    .Rocket{
        position: fixed;
        left: 10%; top: 2%;
        width: 12%;
        transform: rotateZ(25deg);
    }

}
